body {font-family:Helvetica, Arial; font-size:16px;}
h1 {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-style:bold; font-size:28px;}
h2 {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-style:bold; font-size:24px;}
h3 {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-style:bold; font-size:20px;}

.pattern {}

table { width:888px;}
